<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
        <!--
        <property name="connection.connection_string">Data Source=.\SQL2008R2;Database=Tonase;UID=sa;pwd=pass@word1;</property>
        <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
        <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
        <property name="connection.driver_class">NHibernate.Driver.Sql2008ClientDriver</property>
        -->
        <!--<property name="connection.connection_string">Server=93.188.161.172;Port=5432;User Id=postgres;Password=postgres;Database=big_db;</property>-->
        <!--<property name="connection.connection_string">Server=192.168.1.101;Port=5432;User Id=postgres;Password=p05gr35ql.;Database=kugi4;</property>-->
        <property name="connection.connection_string">Server=localhost;Port=5433;User Id=postgres;Password=postgres;Database=kugi4arnold;</property>
        <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
        <property name="dialect">NHibernate.Dialect.PostgreSQLDialect</property>
        <property name="connection.driver_class">NHibernate.Driver.NpgsqlDriver</property>
        <property name="show_sql">true</property>
        <property name="connection.release_mode">auto</property>
        <property name="adonet.batch_size">500</property>
        <!--
        <property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>
        -->
        <!--
        Mapping assemblies
        -->
        <!--
        Can't map it for Fluent NHibernate here; instead, load the mapping assembly in Global.asax.cs.
		If you're still using HBMs, you can use the mapping here or pass the assembly via Global.asax.cs
		as well, just like you can do with the Fluent NHibernate assembly(s).
        -->
        <!--
        <mapping assembly="Northwind.Data" />
        -->
    </session-factory>
</hibernate-configuration>